header h2 { 
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30pt;
  text-decoration: none;
  color: Black;
}

html {
  padding-top:0;
  background: DeepSkyBlue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(DeepSkyBlue, Cyan, DarkBlue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(DeepSkyBlue, Cyan, DarkBlue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(DeepSkyBlue, Cyan, DarkBlue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(DeepSkyBlue, Cyan, DarkBlue); /* Standard syntax */
}

#main {
  width: 800px; 
  background-color: AliceBlue;
  margin: 0 auto; 
  padding-bottom: 10px;
}

#topnav a {
  display: inline-block;
  text-align: center;
  vertical-align:top;
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: DarkBlue;
  width: 18%;
  height:38px;
  line-height: 38px;
/*  border-style: solid solid solid solid;*/
}

#topnav a:hover {
  background-color: AliceBlue;
}

#topnav {
  height:40px;
  background-color: SkyBlue;
}

#topnav {
  border-style: none none solid none;
  border-color: DeepSkyBlue;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width:128px;
}

.section {
  width:auto;
  border-color: DeepSkyBlue;
}

.measurements {
  background-image: url('images/measurements.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.monitoring {
  background-image: url('images/monitoring.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.missions {
  background-image: url('images/missions.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.boats {
  background-image: url('images/solarboat.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sensors {
  background-image: url('images/sensors.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.systems {
  background-image: url('images/systems.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.section p {
  vertical-align: middle;
/*  border-style: none none none none; */
}

.left_p {
  position: relative;
  height: 256px;
  border-color: White;
  /*border-style: solid solid solid solid;*/
}

.right_p {
  position: relative;
  height: 256px;
  border-color: White;
  /*border-style: solid solid solid solid;*/
}

.left_p p {
  margin-left: 10%;
  margin-right: 400px;
  padding-top: 10%;
}


.right_p p {
  margin-left: 400px;
  margin-right: 10%;
  padding-top: 10%;
}

p {
  font-family: Georgia, serif;
  font-size: 14pt;
}

#contacts ul, #about p, #sponsors p {
  padding-left: 10%;
  padding-right: 10%;
}
